h1{
    color: blue;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: cyan;
    padding: 18px;
    border: 10px red solid;

}
#spanId {
    font-size: 18px;
    margin: 50px;
}